<nav class="navbar navbar-expand-m navbar-light bg-dark">
 
        <a class="active" href="/Shapes/Index" style="font-size:30px; color:#2CD5AE;"><i class="fas  fa-home"> 4Shapes</i></a>
        
           <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown1"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px; color:#2CD5AE">
                    <i class="fas fa-lg fa-cubes"> Cabinets</i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="/Shapes/Index">Cabinet 1</a>
                    
                </div>
            </li>
             <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown2"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px; color:#2CD5AE">
                    <i class="fas fa-lg  fa-camera-retro"> Live Inventories</i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="/Shapes/Live">Cabinet 1 Live</a> 
                   
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="active" href="/Account/Logoff" style="font-size:30px; color:#2CD5AE"><i class="fas  fa-sign-out"> Log Out</i></a>
                
            </li>
            
        </ul>
    </div>

</nav>


<div>&nbsp;</div>
